<a href="{{ path('app_tracks')}}">
    <h2>Tracks</h2>
</a>

<a href="{{ path('app_artists')}}">
    <h2>Artistes</h2>
</a>

<a href="{{ path('app_playlists')}}">
    <h2>Playlists</h2>
</a>

<a href="{{ path('app_mails')}}">
    <h2>Mail</h2>
</a>